<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>My Sprint</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load staticfiles %}
		<script type="text/javascript" src="{% static "app/lib/jquery-1.11.3.js" %}"></script>
		<script type="text/javascript" src="{% static "app/lib/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="{% static "app/js/api.js" %}"></script>
		<link rel=stylesheet href="{% static "app/css/bootstrap.min.css" %}">
		<link rel=stylesheet href="{% static "app/css/bootstrap-theme.min.css" %}">
		
	</head>
	<body>
		<a class="btn btn-default" href="/app/" role="button">Home</a>
		<div class="container">
			{% block content %}
			{% endblock %}
			
			<!-- Modal -->
			<div class="modal fade" id="ModalWindow" role="dialog">
			</div>
		</div>
	</div>
</body>
</html>