{% extends "app/base.html" %}
{% block content %}
<p><a href="/app/sprint-list">Sprint list</a></p>
<p><a href="/app/task-list">Task list</a></p>

<p><a href="/app/sprint/new">Add Sprint</a></p>
<p><a href="/app/task/new">Add Task</a></p>
{% endblock %}