{% extends "app/base.html" %}
{% block content %}
		<p>sprint-list</p>
		<a href="/app/sprint/new">
			+ Add new sprint
		</a>
		{% if sprint_list %}
			<ul>
				{% for sprint in sprint_list %}
					<li>
						<a href="/app/sprint/{{ sprint.id }}/">
							{{ sprint.sprint_name }} | {{ sprint.date_begin}} - {{ sprint.date_end}} | {{ sprint.complete_ratio}}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No sprints are available.</p>
		{% endif %}
{% endblock %}