{% extends "app/base.html" %}
{% block content %}
    <h1>
    <a class="btn btn-default glyphicon glyphicon-edit" href="/app/sprint/{{sprint.id}}/edit" role="button" title="Edit sprint"></a>
    <button type="button" class="btn btn-danger glyphicon glyphicon-remove-circle" title="Delete sprint" onclick="api.deleteSprint({{sprint.id}})"></button>
    {{ sprint.sprint_name }} | {{ sprint.date_begin}} - {{ sprint.date_end}}
    
    {% if sprint.status == 'STARTED' %}
        <p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ sprint.complete_ratio_percent}}" aria-valuemin="0" aria-valuemax="{{sprint.duration}}" style="width:{{ sprint.complete_ratio_percent}}%">
                            <span>{{ sprint.complete_ratio}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </p>
    {% endif %}
    </h1>
    
    {% if sprint.status == 'NEW' %}
        <div class="well">
            <div class="bg-info">
                <div class="glyphicon glyphicon-info-sign"></div>
                Hint: Fill your new sprint with tasks up to sprint duration then start your sprint
            </div>

            <p>Task total estimated time (hours) / Sprint duration (hours) : {{ sprint.task_total_estimated_time }} / {{ sprint.duration }}</p>
            <button type="button" class="btn btn-success">Start Sprint</button>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">Tasks:</div>
            <div class="list-group">
                <div class="list-group-item">

                    </div>
                {% for task in sprint.task_set.all %}
                    <div class="list-group-item">
                        <a href="/app/task/{{ task.id }}/">
                            {{ task.task_name }} {{ task.elapsed_time }}/{{ task.estimated_time }} h done: {{task.done}}
                        </a>
                        <button title="Удалить задачу" type="button" class="btn btn-xs btn-danger" onclick="api.deleteTask({{task.id}})">X</button>
                        <button type="button" class="btn btn-xs btn-default glyphicon glyphicon-edit" onclick="api.modalTaskEdit({{task.id}})">Edit</button>
                    </div>
                {% endfor %}
            </div>
    </div>
    
    
{% endblock %}