{% extends "app/base.html" %}
{% block content %}
{% if sprint_id == None %}
	<form method="post" action="/app/api/save-sprint/">
{% else %}
	<form method="post" action="/app/api/save-sprint/{{sprint_id}}">
{% endif %}
{% csrf_token %}
{% for field in form %}
	{{ field.label_tag }} {{ field }}
	<br>
{% endfor %}
	 <input type="submit" value="Save" />
</form>
{% endblock %}