{% block content %}
{% if task_id == None %}
	<form id="editForm" method="post" action="/app/api/save-task/">
{% else %}
	<form id="editForm" method="post" action="/app/api/save-task/{{task_id}}">
{% endif %}
{% csrf_token %}
{% for field in form %}
	{{ field.label_tag }} {{ field }}
	<br>
{% endfor %}
	 <input type="submit" class="btn btn-primary" value="Save" />
</form>
<SCRIPT TYPE="text/javascript">
$(function(){
	$("#editForm").submit(function(e){
	    e.preventDefault();
	    var $form = $(this);
	    $.post($form.attr("action"), $form.serialize(), function(data) {
	            $("#ModalWindow").modal("hide");
	    	})
	})
});
</SCRIPT>
{% endblock %}