{% extends "app/base.html" %}
{% block content %}
		<p>task-list</p>
		<a href="/app/task/new">
			+ Add new task
		</a>
		{% if task_list %}
			<ul>
				{% for task in task_list %}
					<li>
						<a href="/app/task/{{ task.id }}/">
							{{ task.task_name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No tasks are available.</p>
		{% endif %}
{% endblock %}